
html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
}

.card {
    width: 120px;
    min-width: 120px;
    margin: 4px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
}

#main-container {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    width: fit-content;
    max-height: 100vh; 
    padding-top: 10vh;
    overflow: auto;
    width: 100vw;
    align-content: flex-start;
}

.modal-content {
    width: 96vw;
    height: auto;
}

.navbar {
    position: fixed;
    width: 100vw;
}